<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/style.css"> <!-- Resource style -->
	<script src="/js/modernizr.js"></script> <!-- Modernizr -->
	<title>FAQ Template | CodyHouse</title>
</head>
<body>
<header>
	<h1>FAQ Template</h1>
</header>
<section class="cd-faq"  >
	<div *ngFor="let post of restItems" class="cd-faq-items" > 
		<ul  id="basics" class="cd-faq-group" >
			<li>
				<a class="cd-faq-trigger"  href="#0">{{ post.title }}</a>
				<div class="cd-faq-content">
					<p>{{ post.content }}</p>
				</div> 
			</li>

		</ul> <!-- cd-faq-group -->
	</div> <!-- cd-faq-items -->
	
</section> <!-- cd-faq -->
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/jquery.mobile.custom.min.js"></script>
<script src="/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>